{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>ip</th>
            <th>datetime</th>
            <th>amount</th>
            <th>url</th>
            <th>userAgent</th>
        </tr>
        {% if logs|length == 0 %}
            <tr>
                <th colspan="5">no records</th>
            </tr>
        {% endif %}
        {% for log in logs %}
            <tr>
                <td>{{ log.ip }}</td>
                <td>{{ log.datetime|date("Y-m-d H:i:s") }}</td>
                <td>{{ log.amount }}</td>
                <td>{{ log.url }}</td>
                <td>{{ log.userAgent }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/index1" target="_blank">index1.html</a>
    <a href="/index2" target="_blank">index2.html</a>
{% endblock %}